{% extends 'base.html' %}
{% load static %}

{% block title %}Смена пароля пользователя{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="{% static 'css/profile_edit.css' %}">
{% endblock %}

{% block content %}
<div class="profile-create-container">
  <h2 class="form-title">Смена пароля для {{ user.name }} {{ user.surname }}</h2>
  <form method="post" class="project-create-form">
    {% csrf_token %}
    <div class="form-field">
      <label for="id_password">Новый пароль</label>
      <input type="password" name="password" id="id_password" required>
    </div>
    <div class="form-actions">
      <a href="{% url 'users:profile' user.pk %}" class="cancel-button">Отмена</a>
      <button type="submit" class="save-button">Сменить пароль</button>
    </div>
  </form>
</div>
{% endblock %}
